* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
}
.top_ul_menu{
  display: flex;
  text-align: center;
}

.test {
  width: 300px;
}

p{
border: 1px solid red;
}

li{
  border: 1px solid blue;
}
.test:hover .sub{
  display: none;
}